@using RealEstateApp.Core.Application.ViewModels.Property
@using RealEstateApp.Core.Application.Helpers
@using RealEstateApp.Core.Application.Dtos.Account
@model List<PropertyVm>

@inject IHttpContextAccessor httpContextAccesor
@{
    ViewData["Title"] = "Home";
    var user =  httpContextAccesor.HttpContext.Session.Get<AuthenticationResponse>("user");
   
}

<div class="container-fluid">

    <div class="row mb-3">
        <div class="col-3 offset-9">
            <p>Buscar por codigo</p>
            <p>Filtrar por tipo de propiedad</p>
            <p>Filtrar por precio [precio minimo] y un precio maximo</p>
            <p>Un filtro para colocar la cantidad de habitacion y de baños</p>


        </div>
    </div>

    <div class="row">

        

        @if(Model==null || Model.Count==0)
        {
            <h2>No hay propiedades</h2>
        }
        else
        {
            @foreach(PropertyVm item in Model)
            {
               
                <div class="col-4">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" src="@item.PropertyImageVms.Select(i=>i.ImageUrl).FirstOrDefault()" />
                        <h4 class="card-title">@item.PropertyTypeVm.Name | <b>@(item.State == true ? "Disponible" : "Vendida")</b></h4>
                        <p class="card-text">Descripcion: @item.PropertyTypeVm.Description</p>
                        <p class="card-text">Codigo: @item.Code</p>
                        <p class="card-text">Precio: @item.Price</p>
                        <p class="card-text">Metros: @item.PropertySize</p>
                        <p class="card-text">Baños: @item.AmountOfBathroom</p>
                        <p class="card-text">Habitaciones: @item.AmountOfRoom</p>

                        <div class="btn-group">
                            <!--OJO NO ES UN BOTON EN SI, ESTO DEBERIA SER CUANDO SE PRESIONE LA TARJETA DONDE ESTA LA PROPIEDAD... -->
                            <a asp-controller="Agent" asp-action="PropertyDeatails" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Detalles de la propiedad</a>
                        </div>

                        


                    </div>
                </div>
            
            }
        }
    </div>
 
</div>